.container {
	display: grid;
	gap: 5px;
  
	grid-template-columns: 6vw;
	grid-template-rows: 6vw;
  }

[class^="box-"] {
	background-color: skyblue;
  
	display: grid;
	place-items: center;
}

.overlay {
    position: absolute;
    z-index: 1;
    background: green;
}